body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: "canvas.jpg";
}



#wrapper {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 8px;
    border-color: black;
    margin-bottom: auto;
    position:absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    width: 649px;
    height: 649px;
}

#item {
    border-style: none;
}

#row {
    display: flex;
    flex-direction: column;    
}

.item:hover {
    background-color: black;
    border-color: red;
    cursor:crosshair;
}

.filled {
    background-color: black;
}

#input {
    bottom: 90%;
    overflow-anchor:auto;
    flex: 1;
    position: absolute;
    height: 90px;
    width: 300px;
    background-color: rgb(140, 71, 219);    
    color: black;
    border-radius: 1000px;
    font-size: xx-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#wrapper:hover {
    cursor:crosshair;
}